@model RSistemasCRUDCompleto.Models.GrupoDeProdutos

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar um Grupo de Produtos</h1>

<h3>Você tem certeza que deseja deletar este Grupo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição do Grupo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Status do Grupo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Codigo" />
        <input type="submit" value="Apagar Grupo" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista de grupos cadastrados.</a>
    </form>
</div>
