@model RSistemasCRUDCompleto.Models.GrupoDeProdutos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Grupo:</h1>

<div style="text-wrap:normal">
    <hr />
    <dl class="row">
        <dt class="col-md-auto">
            Descrição do Grupo:
        </dt>
        <dd class="col-md-10">
             @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-md-auto">
            Status do Grupo:
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Codigo">Editar Grupo</a> |
    <a asp-action="Index">Voltar para lista de grupos cadastrados.</a>
</div>
