@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<div class="titulo-inicio">
    <h2>CRUD utilizando C# com ASP.NET MVC Framework e PostgreSQL como Banco de Dados.</h2>
</div>
<p>
    Foi-me proposto uma atividade para realizar um CRUD utilizando ASP.NET, optei por utilizar o banco de dados Postgresql
    por não ter familiriadade ainda com SQL Server, além disso, estava curioso como o Entity Framework se comportaria com outro SGBD.
</p>
<p>
    Usando o Entity Framework para gerar o Controller do CRUD da minha DataBase previamente criada no pgAdmin4 eu pude obter êxito
    em cumprir com os requisitos solicitados na atividade, na aba superior desse site você pode clicar em Gerenciar os Grupos e será redirecionado para a gestão dos Grupos de Produtos do banco.
</p>   
