@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Classe de teste que utilizei para me familiarizar com a plataforma ASP.NET MVC
*@
@{
    ViewData["Title"] = "Bem vindo!";
}
<h2>Bem vindo</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++) { 
        <li>@ViewData["Mensagem"]</li>
    }
</ul>
